{% for meat in meats %}
                        {{meat}}
                        {% if topping == meat %}
                            <li class="collection-item">
                                <i class="meat tiny material-icons">brightness_1</i>{{topping}}
                            </li>
                        {% endif %}
                    {% endfor %}
                    {% for veg in vegs %}
                        {% if topping == meat %}
                            <li class="collection-item">
                                <i class="veg tiny material-icons">brightness_1</i>{{topping}}
                            </li>
                        {% endif %}
                    {% endfor %}