.box {
    background-color: #eef0f5;
    border-radius: 3px;
    margin-bottom: 20px;
}

/* Colors ------------------------------------------------------------------- */

.meat {
    color: red;
}

.veg {
    color: green;
}

.cheese {
    color: #f6fa00;
}

.sauce {
    color: purple;
}

.red {
    color:red;
}

/* Fixes -------------------------------------------------------------------- */

/* Fixes alignment of text with checkboxes*/

.label-fix {
    margin-bottom: -8px;
}

/* Meat and Veg icon size */

.topping-size-fix {
    font-size: 30px;
}

.icon-space {
    margin-right: 20px;
}

.pizza-list-header:{
    margin-top: 0px;
}

.align-right {
    text-align: right;
}

/* Changes to defaults--------------------------------------------------*/

h5,
h4,
h3,
h2,
h1 {
    padding: 20px;
    color: white;
    background-color: #65A5D1;
}
