@import url('https://fonts.googleapis.com/css?family=Nunito:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

.box {
    background-color: #eef0f5;
    border-radius: 3px;
    margin-bottom: 20px;
}

/* Colors ------------------------------------------------------------------- */

body {
    background-color: #809FFF;
}

.meat {
    color: red;
}

.veg {
    color: green;
}

.cheese {
    color: #f6fa00;
}

.sauce {
    color: purple;
}

.topping-color {
    color: white !important;
}

.light-white {
    color: rgba(255, 255, 255, 0.57)
}

/* Fixes -------------------------------------------------------------------- */

/* Fixes alignment of text with checkboxes*/

.label-fix {
    margin-bottom: -8px;
    color:black;
}

/* Meat and Veg icon size */

.topping-size-fix {
    font-size: 30px;
}

.icon-space {
    margin-right: 20px;
}

.align-right {
    float: right;
}

.topping-space {
    padding-left: 3px;
}

.topping-list {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: -5px;
}

nav {
    background-color: #000A27 !important;
}

.nav .brand-logo i {
    float: none;
}

.topping-weight {
    font-weight: 800;
}

.btn-fix {
    position: absolute;
    right: 0px;
    bottom: 12px;
}

/* Changes to defaults--------------------------------------------------*/

h4,
h3,
h2,
h1 {
    margin-bottom: 0px !important;
    padding: 20px;
    color: white;
    background-color: #202840	;
    font-family: nunito;
}

/* Images --------------------------------------------------------------------*/

.collection {
    border: none !important;
    overflow: unset !important;
}

.collection-item {
    background-color: rgba(0, 0, 0, 0.4) !important;
    border-bottom: none !important;
}

.card-img {
    background-image: url("/static/images/pizza-card-photo.jpg");
    background-position: right;
}

/* Text changes --------------------------------------------------------------*/

p,
span {
    font-family: nunito;
}

.card {
    min-height: 550px;
}
