{% extends 'base.html'%} {% block content %}
<div class="container">
    <h3 class="center-align">{{ user|title }}'s Account</h3>
    <div class="row box col s12">
        <div class="col s12 m6">
            <p class="account-pizza-list">
                <b>Pizzas contributed:</b>
            </p>
            <ul>
                {% for pizza in users_pizzas %}
                <li class="account-pizza-list">{{pizza.pizza_name|title}}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="col s12 m6 center-align">
            <p>
                <b>Quick Links:</b>
            </p>
            <div class="account-btn-height ">
                <ul>
                    <li><a href="{{url_for('get_pizzas')}}" class="waves-effect waves-light btn account-btn-width">Go Back
                <i class="material-icons right">arrow_back</i>
            </a></li>

                    <li><a href="{{url_for('add_pizza')}}" class="waves-effect waves-light btn account-btn-width">Add Pizza
                <i class="material-icons right">playlist_add</i>
            </a></li>

                    <li><a href="{{url_for('add_topping')}}" class="waves-effect waves-light btn account-btn-width">Go Back
                <i class="material-icons right">add</i>
            </a></li>

                    <li><a href="{{url_for('logout')}}" class="waves-effect waves-light btn account-btn-width red">Logout
                <i class="material-icons right">add</i>
            </a></li>

                </ul>
            </div>
        </div>


    </div>
</div>
{% endblock %}
