<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body>
    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="{{url_for('get_pizzas')}}" class="brand-logo center"><i class="fas fa-pizza-slice hide-on-med-and-down"></i> Pizza Manager</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <!--- If the User is signed in, they will see the below navbar links --->
                    {% if session.user %}
                    <li><a href="{{url_for('add_pizza')}}">Add Pizza</a></li>
                    <li><a href="{{url_for('add_topping')}}">Add Topping</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{url_for('logout')}}">Log Out</a></li>
                    <!--- If the User is not signed in, they will see the below navbar links  --->
                    {% else %}
                    <!--- Login Link  --->
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('login')}}">Login</a>
                    </li>
                    <!--- Register Link  --->
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('register')}}">Register</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <ul class="sidenav" id="mobile-demo">
            <!--- If the User is signed in, they will see the below navbar links --->
            {% if session.user %}
            <li><a href="{{url_for('add_pizza')}}">Add Pizza</a></li>
            <li><a href="{{url_for('add_topping')}}">Add Topping</a></li>
            <li class="nav-item"><a class="nav-link" href="{{url_for('logout')}}">Log Out</a></li>
            <!--- If the User is not signed in, they will see the below navbar links  --->
            {% else %}
            <!--- Login Link  --->
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('login')}}">Login</a>
            </li>
            <!--- Register Link  --->
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('register')}}">Register</a>
            </li>
            {% endif %}
        </ul>
    </header>
    <div class="container">
        {% block content %} {% endblock %}
    </div>
    <script src="https://kit.fontawesome.com/58e6a00841.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.collapsible').collapsible();
            $('select').formSelect();
            $('.sidenav').sidenav();
        });
        $('input[type=checkbox]').on('change', function(e) {
            if ($('input[class="meat-topping-picker"]:checked').length > 5) {
                $(this).prop('checked', false);
                alert("Max 5 meat toppings");
            }
        });
        $('input[type=checkbox]').on('change', function(e) {
            if ($('input[class="veg-topping-picker"]:checked').length > 5) {
                $(this).prop('checked', false);
                alert("Max 5 veg toppings");
            }
        });
    </script>
</body>

</html>

</html>
