{% extends 'base.html' %} {% block content %}
<div class="container">
    <form action="/user_auth" method="POST" class="col s12">
        <div class="row box">
            <h3>Login</h3>
            
            <!-- Username input -->
            <div class="input-field col s12">
                <label for="username">Enter Username</label>
                <input name="username" type="text" placeholder="Username" required>
            </div>
            
            <!-- Password input -->
            <div class="input-field col s12">
                <label for="user_password">Enter Password</label>
                <input name="user_password" type="password" placeholder="Password">
            </div>
            
            <!-- Submission button -->
            <button class="btn waves-effect waves-light" type="submit">Log in</button>
        </div>
    </form>
</div>
{% endblock %}
