{% extends 'base.html'%} {% block content %}
<div class="row">
    {% for pizza in pizzas %}
    <div class=" col s12 m6">
        <div class="card card-img">
            <div class="topping-color">
                
                
                <h4 class="">{{ pizza.pizza_name.title() }} - ({{pizza.pizza_code|upper}})</h4>
                <div class="col s6 ">
                    <h5>Sauce</h5>
                    <i class="sauce tiny material-icons">brightness_1</i><span class="topping-space topping-weight">{{pizza.sauce_type|title}}</span>
                </div>
                <div class="col s6 ">
                    <h5>Cheese</h5>
                    <i class="cheese tiny material-icons">brightness_1</i><span class="topping-space topping-weight">{{pizza.cheese_type.capitalize()}}</span>
                </div>
                <div class="col s12 ">
                    <h5>Toppings</h5>
                </div>
                <div class="col s6 ">
                    {% for topping in pizza.toppings %} {% for veg in vegs.vegs %}
                    <ul>
                        {% if veg|lower == topping|lower %}
                        <li>
                            <i class="veg tiny material-icons">brightness_1</i>
                            <span class="topping-weight">{{topping.capitalize()}}</span>
                        </li>
                        {% endif %}
                    </ul>
                    {% endfor %} {% endfor %}
                </div>
                <div class="col s6 ">
                    {% for topping in pizza.toppings %} {% for meat in meats.meats %}
                    <ul>
                        {% if meat|lower == topping|lower %}
                        <li>
                            <i class="meat tiny material-icons">brightness_1</i>
                            <span class="topping-weight">{{topping.capitalize()}}</span>
                        </li>
                        {% endif %}
                    </ul>
                    {% endfor %} {% endfor %}
                </div>
                <div class="col s12 ">
                    <p>
                        Notes: {{pizza.pizza_notes}}
                    </p>
                </div>
                <div class="btn-fix col s12">
                    <a href="{{url_for('edit_pizza', pizza_id=pizza._id)}}" class="waves-effect waves-light btn btn_small blue">Edit</a>
                </div>
                
                
            </div>
        </div>
    </div>
    {% endfor %}

</div>
{% endblock %}
